{% extends "layout.html" %}
{% block content %}
<div class="center">
	<br>
		<h3>Choose the image you would like to know more about!</h3>
	<br>
{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% else %}
<form method="post" action="/xx" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
	<br>
    <p>
		<input type="submit" value="Analyze">
	</p>
</form>
</div>
{% endif %}
{% endblock content %}
