{% extends "layout.html" %}
{% block content %}

{% if filename %}
<div class="center">
	{% if bbExists == False %}
		<br>
			<h3>Sorry we were not able to find anything! Try another image</h3>
		<br>
	{% endif %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% else %}
	<div class="center">
		<br>
			<h3>Choose the image you would like to know more about!</h3>
		<br>
		{% if ai == yolo %}
			<form method="post" action="/yolo" enctype="multipart/form-data">
		{% else %}
			<form method="post" action="/app2" enctype="multipart/form-data">
		{% endif %}
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>
		<br>
		<p>
			<input type="submit" value="Analyze">
		</p>
	</form>
	</div>
{% endif %}
{% endblock content %}
